cvxopt
image
ipython
ipythonblocks
ipywidgets
jupyter
keras
matplotlib
networkx
numpy
opencv-python
pandas
pillow
pytest-cov
qpsolvers
scipy
sortedcontainers
tensorflow
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability